slash in query string when doing redirection

i encountered an issue,  and describe case bellow.
request:
`Get xxxx/object/123213`
respone:
```
statue code: 307
Location: xxxx/anotherplace/object/123213?signature=asjjud%2F87djsnadde
```
i think HttpClient should send a get request 'xxxx/anotherplace/object/123213?signature=asjjud%2F87djsnadde'  and get the data. but actually it sends 'xxxx/anotherplace/object/123213?signature=asjjud/87djsnadde', replaced '%2F' with '/'.  this makes request failed.

i checked rfc3986, there is no exact description for query string pattern.
is it an issue? and will this be fixed in some future? or is there a workarroud for this case?



This one is a puzzler. I'm not sure what's correct here. Last time I played with something along these lines query string parsing was severely underspecified. I'll need to do some reading in the specs, but I wouldn't be surprised if this is an area where there's no obvious right answer and we sort of have to do what seems to work best most of the time. 

Oh, and do you happen to have a simple unit test to demonstrate the issue? 

actually i have checked the source code in project google-http-client.
when sending a http request using HttpRequest like(following code is from [Jib](https://github.com/GoogleContainerTools/jib/blob/dc1a031d281ae29b29acb16739a307fee1e39f39/jib-core/src/main/java/com/google/cloud/tools/jib/http/Connection.java#L191) in Google open source projects):
```
HttpRequest httpRequest =
        requestFactory
            .buildRequest(httpMethod, url, request.getHttpContent())
            .setHeaders(request.getHeaders());
    if (request.getHttpTimeout() != null) {
      httpRequest.setConnectTimeout(request.getHttpTimeout());
      httpRequest.setReadTimeout(request.getHttpTimeout());
    }
    httpRequest.setFollowRedirects(false);
    httpResponse = httpRequest.execute();
    return new Response(httpResponse);
```

if responce is redirection status code (like 307), then HttpClient will parse Location to class GenericUrl.
in GenericUrl,
```
static void addQueryParams(Set<Entry<String, Object>> entrySet, StringBuilder buf) {
    // (similar to UrlEncodedContent)
    boolean first = true;
    for (Map.Entry<String, Object> nameValueEntry : entrySet) {
      Object value = nameValueEntry.getValue();
      if (value != null) {
        String name = CharEscapers.escapeUriQuery(nameValueEntry.getKey());
        ...
      }
    }
  }
```

in function 'CharEscapers.escapeUriQuery(nameValueEntry.getKey());' there are some specific charactors.
in PercentEscaper.java
```
/**
   * A string of characters that do not need to be encoded when used in URI query strings, as
   * specified in RFC 3986. Note that some of these characters do need to be escaped when used in
   * other parts of the URI.
   */
  public static final String SAFEQUERYSTRINGCHARS_URLENCODER = "-_.!~*'()@:$,;/?:";
```
please check.

I don't doubt that it behaves as you describe. I need to find the relevant parts of the HTTP and URI specs to determine if this behavior is a bug or WAI. It may go to the definition of the HTTP redirect code. Per spec:

7.1.2.  Location

   The "Location" header field is used in some responses to refer to a
   specific resource in relation to the response.  The type of
   relationship is defined by the combination of request method and
   status code semantics.

     Location = URI-reference

   The field value consists of a single URI-reference.  When it has the
   form of a relative reference ([RFC3986], Section 4.2), the final
   value is computed by resolving it against the effective request URI
   ([RFC3986], Section 5).


Tentatively my reading of the specs is as follows:

1. Query strings can contain an unescaped forward slash character `/` the same as they can contain `a-z`. https://tools.ietf.org/html/rfc3986#section-3.4
2. `%2F` is simply a different way of encoding this legal character.
3. No code should treat a query string differently because it contains %41 instead of A. Similarly, no code should treat a query string differently because it contains %77 instead of `/`. They are equivalent. 
4. Section 6.2.2.2 https://tools.ietf.org/html/rfc3986#section-6.2.2 specifically recommends replacing unnecessarily percent encoded characters with their unencoded equivalents. 

Thus the behavior is accepted if not required by spec. For now I'm going to close this one. If you can find a relevant section of the HTTP or URI spec that indicates otherwise, please reopen. 




it seems the action of HttpClient is reasonable.
Maybe this issue is caused by the different requirement of all kind of servers for there isn't a explicit define for URI encoding.
thank you for your reply.  accept.