UriTemplate expansion reserved ("+") and fragment("#") should not encode already percent encoded parts

According to [RFC 6570 Section 3.2.1](https://datatracker.ietf.org/doc/html/rfc6570#section-3.2.1:~:text=The%20allowed%20set%20for,25%22%20by%20variable%20expansion.): reserved ("+") and fragment ("#") expansions allow the set of characters in the union of ( unreserved / reserved / pct-encoded ) to be passed through without pct-encoding, whereas all other expression types allow only unreserved characters to be passed through without pct-encoding.

But currently pct-encoded characters are being re-encoded. Meaning that `{+var}` and `{#var}` should not re-encode already pct-encoded triplets, but currently the implementation does that:

#### Code example

```java
    @Test
    void textUriTemplate_shouldNotEncodeAlreadyPercentEncodedTriplets() {
        String template = "{+var}";
        Map<String, Object> variables = Map.of("var", "admin%2F");

        String result = UriTemplate.expand(template, variables, false);

        // Expecting the result to be "admin%2F" without encoding
        Assertions.assertEquals("admin%2F", result, "The encoded character should not be changed.");
    }
```

```md
Expected : admin%2F
Actual   : admin%252F
```


Hi @alexander-asenov thank you for raising this concern. Please note that in order ensure fast response times, you can use our [Support Hub](https://cloud.google.com/support-hub) if you have a support plan with us.